<link rel="stylesheet" href="/styles.css">

<header>
  <a class="site-logo" href="/">
    VibeSync
  </a>
  {{#if isLoggedIn}}
    <a href="/api/logout">Sync Out</a>
  {{else}}
    <a href="/login">Start Syncing</a>
    <a href="/signup">Join VibeSync</a>
  {{/if}}
</header>
